<!DOCTYPE html>
<html>

<head>

<title>About Gemini AI</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="main">

<h1>ℹ About</h1>

<div class="response-card">

<h2>Gemini AI Dashboard</h2>

<p>

This project is built using:

</p>

<br>

<ul>

<li>🐍 Python</li>

<li>🌶 Flask</li>

<li>🤖 Gemini AI</li>

<li>🎨 HTML + CSS</li>

<li>💾 SQLite Database</li>

</ul>

<br>

<p>

Developed by Bharath

</p>

</div>

<br>

<a href="/">
<button class="action-btn">
⬅ Back
</button>
</a>

</div>

</body>

</html>