<!DOCTYPE html>
<html>

<head>

<title>Settings</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="main">

<h1>⚙ Settings</h1>

<div class="response-card">

<h3>Theme</h3>

<p>Dark Mode Enabled</p>

<br>

<h3>Model</h3>

<p>Gemini 2.5 Flash</p>

<br>

<h3>Version</h3>

<p>1.0.0</p>

</div>

<br>

<a href="/">
<button class="action-btn">
⬅ Back
</button>
</a>

</div>

</body>

</html>